* {
  color: #79530a;
}

#background {
  background: url('../images/journal_background.jpg') no-repeat;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

form {
  background-color: #e57e00;
  border: 3px solid #687909;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  width: 615px;
}

label {
  color: black;
}

textarea {
  resize: none;
}

.input {
  color: black;
  background-color: #fcfcf9;
  text-indent: 3px;
}

button {
  border-radius: 10px;
  color: #fcfcf9;
  background-color: #79530a;
  margin-left: 5px;
  margin-top: 2px;
}

#trailLabel {
  margin-left: 50px;
}

#journal {
  width: 75%;
  margin: auto;
}

#journal div {
  border: 3px solid #687909;
  border-radius: 10px;
  background-color: #dedfd5;
  margin: 25px;
}

h3 {
  font-family: 'Spectral', serif;
  font-size: 24px;
}

.title {
  float: left;
  display: inline;
  margin-left: 25px;
}

.trail {
  float: right;
  display: inline;
  margin-right: 25px;
}

#journal div hr {
  clear: both;
  margin: 3px;
  border-color: #687909;
}

#journal div p {
  font-family: 'Spectral', serif;
  margin: 25px 25px;
  text-align: center;
}

footer a {
  color: #fcfcf9;
  font-family: 'Josefin Sans', sans-serif;
}

footer p {
  color: #fcfcf9;
  font-family: 'Josefin Sans', sans-serif;
}
